@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{

       /*==== COLORS ====*/
    --primary-color: #0e4bf1;
    --panel-color: #fff;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4da3ff;
    --box2-color:#ffe6ac;
    --box3-color:#e7d1fc;
    --title-icon-color: #fff;

    /*==== Transition ====*/
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

body.dark{
    /*====COLORS====*/--primary-color: #3a3b3c;
    --panel-color: #242526;
    --text-color: #ccc;
    --black-light-color: #ccc;
    --border-color: #4d4c4c;
    --toggle-color: #fff;
    --box1-color: #3a3b3c;
    --box2-color:#3a3b3c;
    --box3-color:#3a3b3c;
    --title-icon-color: #fff;
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 14px;
    width: 250px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close{
    width: 73px;
}

nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .logo-name .logo_name{
    margin-left: 14px;
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
}
.nav-links li a:hover:before{
    position: absolute;
    content: "";
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.menu-items li a i{
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--black-light-color);
}

.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}

nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}

.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    height: 22px;
    width: 40px;
    background-color: var(--toggle-color);
    display: inline-block;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.switch::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 14px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    -o-transition: var(--tran-03);
}

body.dark .switch::before{
    left: 20px;
}

.dashboard{
    transition: var(--tran-05);
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    height: 100vh;
    width: calc(100% - 250px);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    padding: 10px 14px;
}

nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top{
    transition: var(--tran-05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 250px);
    position: fixed;
    background-color: var(--panel-color);
    padding: 10px 14px;
    top: 0;
    left: 250px;
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    -o-transition: var(--tran-05);
}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input{
    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
}

.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.top img{
    width: 40px;
    border-radius: 50%;

}

.dashboard .dash-contect{
    padding-top: 50px;
}

.dash-contect .title{
    display: flex;
    align-items: center;
    margin: 70px 0 30px 0;
}

.dash-contect .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dash-contect .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}